renderer/fractal
master/.venv/
master/state.json
master/presets.json
master/config.local.json
__pycache__/
*.ppm
.DS_Store
master/media/
master/mapping/
setup/ndi-recv
master/shows/
master/cues.json
master/led_configs/
master/cloud_outbox.json
master/cloud_sync.json
master/config.cloud.json
master/palettes.json
master/mapping_presets/
master/cue_lists/
master/shaders/
